.pos .product .product-tag {
    position: absolute;
    top: 20px;
    right: 2px;
    vertical-align: top;
    color: red;
    line-height: 13px;
    background: white;
    padding: 2px 5px;
    border-radius: 2px;
}
